@mixin it($statement) {
  $bc-total: $bc-total + 1 !global;

  @if not $bc-skipping {
    $bc-passing: true !global;

    #{$bc-describe} #{$statement} {
      $indention: ($bc-describe-depth - 1) * 2;
      $bc-block-messages: indent("#{$bc-describe} #{$statement} {", $indention) !global;

      @content;

      @if $bc-passing {
        @if $bc-setting-verbose {
          Test: Passed;
        $bc-block-messages: "#{$bc-block-messages}
#{indent("  Test: Passed;", $indention)}" !global;
        }

        $bc-stats: "#{$bc-stats} ✔" !global;
        $bc-passed: $bc-passed + 1 !global;
      }

      @else {
        Test: Failed;
        $bc-block-messages: "#{$bc-block-messages}
#{indent("  Test: Failed;", $indention)}" !global;

        $bc-stats: "#{$bc-stats} ✗" !global;
        $bc-failed: $bc-failed + 1 !global;
      }

      $bc-block-messages: "#{$bc-block-messages}
#{indent("}", $indention)}" !global;

      @if not $bc-passing or $bc-setting-verbose {
        $bc-messages: "#{$bc-messages}
#{$bc-block-messages}" !global;
      }

      @if $bc-setting-fail-fast and not $bc-passing {
        @error $bc-messages;
      }
    }

    $bc-passing: null !global;
  } @else {
    $bc-skipped: $bc-skipped + 1 !global;
  }
}
